<mat-card style="max-width: 600px; margin: 20px auto">
    <mat-card-content>
        <h1>404. La página solicitada no fue encontrada.</h1>

        <h4>La página solicitada no existe o ha sido eliminada.</h4>

        <p>¿Ahora qué hago?</p>

        <ul>
            <li>
                    Puedes
                <a href="/" i18n="A 404 page action|a page action introduced by 'You can...' (pageNotFoundActionIntro)@@pageNotFoundActionGoHome">
                    regresar a la página de inicio
                </a>
            </li>
        </ul>

        <hr />

        <p class="mat-caption">
            Grupo Alus, 2017
        </p>

    </mat-card-content>
</mat-card>
