<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-xs-6">
            <h2 class="page-title">
                <mat-icon>event_note</mat-icon>
                Administración de Tipos de Madera
            </h2>
        </div>
        <div class="col-sm-12 col-md-6 col-xs-6 text-right">
            <button mat-raised-button color="accent" (click)="add()">
                <mat-icon>add_circle</mat-icon>
                &nbsp;
                <span>Nuevo</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12">
            <mat-form-field class="full-input">
                <mat-placeholder>
                    <mat-icon class="align-icon">search</mat-icon>
                    Buscar Tipo
                </mat-placeholder>
                <input autocomplete="false" matInput (keyup)="search($event.target.value)">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="row">
        <div *ngFor="let model of dataSource.filteredData" class="col-sm-12 col-md-4 col-xs-4">
            <mat-card class="spacer">
                <mat-card-title>
                    {{model.title}}
                </mat-card-title>
                <p>
                    <strong class="blue"> Titulo:</strong> {{model.title}}
                    <br>
                    <strong class="blue"> Descripción:</strong> {{model.description}}
                    <br>
                    <strong class="blue"> Ciclos:</strong> {{model.cicles}}
                    <br>
                    <strong class="blue"> Tipo:</strong> {{model.type == 1 ? 'Suave' : 'Dura'}}
                    <br>
                    <strong class="blue"> Fecha Creación:</strong> {{model.created_at}}
                    <br>
                </p>
                <div class="row">
                    <button mat-raised-button color="primary" (click)="edit(model.id)">Editar</button>
                    <button mat-raised-button color="warn" (click)="dialogConfirm(model.id)">
                        Eliminar
                    </button>
                </div>
            </mat-card>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start">
        <div fxFlex.lt-md="100%" fxFlex.xs="100%">
            <mat-paginator [length]="resultsLength" [pageSize]="perPage" #paginator>
            </mat-paginator>
        </div>
    </div>

</div>