<div class="container" fxFill fxLayout="column" fxLayoutAlign="space-around stretch">
    <div fxFlexAlign="stretch">
        <div class="card">
            <div class="header">
                <img class="logo" src="/assets/img/default-logo.jpg"/>
            </div>
            <div class="content" fxLayout="column" fxLayoutAlign="center">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<!--<a class="powered-by" href="//www.alus.com.mx/alus-affinity" target="_blank">
    <img src="/assets/img/svg/powered-by-alus-affinity-white.svg"/>
</a>-->

