.container {
    display: block;
    max-width: 500px;
    margin: 30px auto;
}

.button-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.button-row button {
    margin: 5px;
}
