<div class="container">
    <mat-card>
        <mat-card-title>Recupera tu contrase&ntilde;a</mat-card-title>

        <mat-card-content>
            <form [formGroup]="passwordRecoveryFormGroup"
                  (submit)="passwordRecoveryFormGroup.status != 'INVALID' && passwordRecoveryFormSubmit()">
                <p>
                    <mat-form-field style="width: 100%">
                        <input matInput placeholder="Usuario" type="email" formControlName="username" />

                        <mat-error
                                *ngIf="passwordRecoveryFormGroup.get('username').hasError('email') && !passwordRecoveryFormIsSending">
                            Por favor, ingresa <strong>un correo electr&oacute;nico v&aacute;lido.</strong>
                        </mat-error>


                        <mat-error
                                *ngIf="passwordRecoveryFormGroup.get('username').hasError('serverError') && !passwordRecoveryFormIsSending">
                            {{ passwordRecoveryServerError }}
                        </mat-error>

                    </mat-form-field>
                </p>
                <div class="button-row">
                    &nbsp;<mat-progress-bar mode="indeterminate" *ngIf="passwordRecoveryFormIsSending"
                                            style="max-width: 105px"></mat-progress-bar>&nbsp;

                    <button mat-raised-button color="primary" type="submit" *ngIf="!passwordRecoveryFormIsSending">
                        RECUPERAR LA CONTRASE&Ntilde;A
                    </button>
                    <button mat-button color="accent" (click)="goBack()" type="button"
                            [disabled]="passwordRecoveryFormIsSending">Regresar
                    </button>
                </div>
            </form>

        </mat-card-content>
    </mat-card>
</div>
