<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12">
            <h2 class="page-title">
                <mat-icon>event_note</mat-icon>
                Entrada Inventario
            </h2>
        </div>
    </div>
    <div class="row">
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12">
            <button mat-raised-button color="accent" (click)="back()">Regresar</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <form [formGroup]="formGroup">
            <div class="row">

                <mat-form-field class="col-sm-12 col-md-6 col-xs-6">
                    <mat-placeholder>
                        <mat-icon class="align-icon">title</mat-icon>
                        ¿Quién entrega la mercancia?
                    </mat-placeholder>
                    <input matInput formControlName="deliveryPerson">
                    <mat-error *ngIf="formGroup.get('deliveryPerson').hasError('required')">
                        Debes poner el nombre la la persona que entrega la mercancia.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-sm-12 col-md-6 col-xs-6">
                    <mat-placeholder>
                        <mat-icon class="align-icon">title</mat-icon>
                        Lote
                    </mat-placeholder>
                    <input matInput formControlName="lote"/>
                    <mat-error *ngIf="formGroup.get('lote').hasError('required')">
                        El campo Lote es obligatorio
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-sm-12 col-md-6 col-xs-6">
                    <mat-placeholder>
                        <mat-icon class="align-icon">title</mat-icon>
                        Cantidad
                    </mat-placeholder>
                    <input matInput type="number" formControlName="quantity">
                    <mat-error *ngIf="formGroup.get('quantity').hasError('required')">
                        El campo Cantidad es obligatorio
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-sm-12 col-md-6 col-xs-6">
                    <mat-placeholder>
                        <mat-icon class="align-icon">title</mat-icon>
                        Tipo de Unidad
                    </mat-placeholder>
                    <mat-select formControlName="unit_id">
                        <mat-option *ngFor="let unit of resultUnit?.units" [value]="unit.id">
                            {{unit.title}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('unit_id').hasError('required')">
                        El campo Tipo de Unidad es obligatorio
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-sm-12 col-md-6 col-xs-6">
                    <mat-placeholder>
                        <mat-icon class="align-icon">title</mat-icon>
                        Tipo de Madera
                    </mat-placeholder>
                    <mat-select formControlName="type_id">
                        <mat-option *ngFor="let type of resultType?.types" [value]="type.id">
                            {{type.title}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('type_id').hasError('required')">
                        El campo Tipo de Madera es obligatorio
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-sm-12 col-md-6 col-xs-6">
                    <mat-placeholder>
                        <mat-icon class="align-icon">title</mat-icon>
                        Observaciones
                    </mat-placeholder>
                    <textarea matInput formControlName="observation"></textarea>
                    <mat-error *ngIf="formGroup.get('observation').hasError('required')">
                        El campo Observación es obligatorio
                    </mat-error>
                    <mat-error *ngIf="observation.errors?.minlength">
                        El campo Observación debe tener minimo 3 caracteres
                    </mat-error>
                </mat-form-field>

                <div class="col-sm-12 col-md-12 col-xs-12 text-center">
                    <button mat-raised-button class="col-sm-12 col-md-6 col-xs-6 text-center" [disabled]="this.loading" (click)="cancel()">Cancelar</button>
                    <button mat-raised-button class="col-sm-12 col-md-6 col-xs-6 text-center" color="accent" [disabled]="!this.formGroup.valid"
                            (click)="save()">
                        Agregar
                    </button>
                </div>
            </div>
            <hr>
            <div class="mat-elevation-z8">
                <mat-table #table [dataSource]="dataSource" matSort matSortActive="created" matSortDisableClear matSortDirection="asc">

                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> #</mat-header-cell>
                        <mat-cell *matCellDef="let data; let incremental = index">
                            {{incremental + 1}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="deliveryPerson">
                        <mat-header-cell *matHeaderCellDef> Persona que Entrego</mat-header-cell>
                        <mat-cell *matCellDef="let data"> {{data?.delivery_person}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="user">
                        <mat-header-cell *matHeaderCellDef> Usuario que recibio</mat-header-cell>
                        <mat-cell *matCellDef="let data"> {{data?.user.email}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="lote">
                        <mat-header-cell *matHeaderCellDef> Lote</mat-header-cell>
                        <mat-cell *matCellDef="let data"> {{data?.lote}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="quantity">
                        <mat-header-cell *matHeaderCellDef> Cantidad</mat-header-cell>
                        <mat-cell *matCellDef="let data"> {{data?.quantity}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="unit">
                        <mat-header-cell *matHeaderCellDef> Unidad</mat-header-cell>
                        <mat-cell *matCellDef="let data"> {{data?.unit.title}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <mat-header-cell *matHeaderCellDef> Tipo de Madera</mat-header-cell>
                        <mat-cell *matCellDef="let data"> {{data?.type.title}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="observations">
                        <mat-header-cell *matHeaderCellDef> Observación</mat-header-cell>
                        <mat-cell *matCellDef="let data"> {{data?.observation}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="date_add">
                        <mat-header-cell *matHeaderCellDef> Fecha Creación</mat-header-cell>
                        <mat-cell *matCellDef="let data"> {{data?.created_at}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef> Acciones</mat-header-cell>
                        <mat-cell *matCellDef="let data">
                            <a (click)="dialogConfirm(data.id)" class="fa  fa-trash" aria-hidden="true">Borrar</a>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
            <div class="mat-elevation-z8">
                <mat-paginator [length]="resultsLength" [pageSize]="perPage" #paginator>
                </mat-paginator>
            </div>
        </form>
    </div>
</div>