<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12">
            <h2 class="page-title">
                <mat-icon>event_note</mat-icon>
                Salida Inventario
            </h2>
        </div>
    </div>
    <div class="row">
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12">
            <button mat-raised-button color="accent" (click)="back()">Regresar</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <form [formGroup]="formGroup">
            <div class="row">
                <mat-form-field class="col-sm-12 col-md-12 col-xs-12">
                    <mat-placeholder>
                        <mat-icon class="align-icon">title</mat-icon>
                        Elige un Producto
                    </mat-placeholder>
                    <mat-select formControlName="product">
                        <mat-option *ngFor="let product of resultProduct" [value]="product.id">
                            <b class="alert-success">Tipo de Madera:</b> {{product.title}}
                            <b class="alert-warning">Inventario Total:</b> {{product.total}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('product').hasError('required')">
                        El campo Producto es obligatorio
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-sm-12 col-md-6 col-xs-6">
                    <mat-placeholder>
                        <mat-icon class="align-icon">title</mat-icon>
                        Descripcion
                    </mat-placeholder>
                    <input matInput formControlName="description">
                    <mat-error *ngIf="formGroup.get('description').hasError('required')">
                        El campo Descripción es obligatorio
                    </mat-error>
                    <mat-error *ngIf="description.errors?.minlength">
                        El campo Descripción debe tener minimo 3 caracteres
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-sm-12 col-md-6 col-xs-6">
                    <mat-placeholder>
                        <mat-icon class="align-icon">title</mat-icon>
                        Número de Piezas
                    </mat-placeholder>
                    <input matInput type="number" formControlName="pieces">
                    <mat-error *ngIf="formGroup.get('pieces').hasError('required')">
                        El campo Piezas es obligatorio
                    </mat-error>
                </mat-form-field>

                <div class="col-sm-12 col-md-12 col-xs-12 text-center">
                    <button mat-raised-button (click)="cancel()">Cancelar</button>
                    <button mat-raised-button color="accent" [disabled]="!this.formGroup.valid"
                            (click)="save()">
                        Agregar
                    </button>
                </div>
            </div>
            <hr>
            <div class="mat-elevation-z8">
                <mat-table #table [dataSource]="dataSource" matSort matSortActive="created" matSortDisableClear matSortDirection="asc">

                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> #</mat-header-cell>
                        <mat-cell *matCellDef="let data; let incremental = index">
                            {{incremental + 1}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="deliveryPerson">
                        <mat-header-cell *matHeaderCellDef> Persona que Entrego</mat-header-cell>
                        <mat-cell *matCellDef="let data"> {{data?.delivery_person}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="user">
                        <mat-header-cell *matHeaderCellDef> Usuario que recibio</mat-header-cell>
                        <mat-cell *matCellDef="let data"> {{data?.user.email}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="lote">
                        <mat-header-cell *matHeaderCellDef> Lote</mat-header-cell>
                        <mat-cell *matCellDef="let data"> {{data?.lote}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="quantity">
                        <mat-header-cell *matHeaderCellDef> Cantidad</mat-header-cell>
                        <mat-cell *matCellDef="let data"> {{data?.quantity}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="unit">
                        <mat-header-cell *matHeaderCellDef> Unidad</mat-header-cell>
                        <mat-cell *matCellDef="let data"> {{data?.unit.title}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <mat-header-cell *matHeaderCellDef> Tipo de Madera</mat-header-cell>
                        <mat-cell *matCellDef="let data"> {{data?.type.title}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="observations">
                        <mat-header-cell *matHeaderCellDef> Observación</mat-header-cell>
                        <mat-cell *matCellDef="let data"> {{data?.observation}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="date_add">
                        <mat-header-cell *matHeaderCellDef> Fecha Creación</mat-header-cell>
                        <mat-cell *matCellDef="let data"> {{data?.created_at}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef> Acciones</mat-header-cell>
                        <mat-cell *matCellDef="let data">
                            <a (click)="dialogConfirm(data.id)" class="fa  fa-trash" aria-hidden="true">Borrar</a>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
            <div class="mat-elevation-z8">
                <mat-paginator [length]="resultsLength" [pageSize]="perPage" #paginator>
                </mat-paginator>
            </div>
        </form>
    </div>
</div>